html{
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 200vw;
    z-index: 99;
    position: absolute;
    justify-content: center;
    text-align: center;
    pointer-events: none;
    font-size: 5vh;
}
#bg {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    filter: blur(0.5px);
}
.container{
    height: 100vh;
    display: grid;
    place-items: center;
    color: aliceblue;
    position: relative;
}
h1{
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    bottom: 70px;
    left: 50px;
    z-index: 10;
    letter-spacing: 2px;
    position: absolute;
}
h1 span{
    color: rgb(232, 89, 89);
}
a{
    color: aliceblue;
    z-index: 99;
    font-size: 15px;
    position: absolute;
    bottom: 40px;
    left: 50px;
}
p{
    color: rgba(212, 212, 212, 0.464);
    z-index: 10;
    font-size: 15px;
    position: absolute;
    bottom: 50px;
    left: 50px;
}
h3{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    bottom: 60px;
    z-index: 10;
    letter-spacing: 5px;
}
section{
    height: 100vh;
}